name: Java CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Create output directory
      run: mkdir -p out/production/Invaders-SDP-23292
    - name: Compile code
      run: javac -d out/production/Invaders-SDP-23292 $(find src -name "*.java")
