name: Java CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Create output directory
      run: mkdir -p out/production/Invaders-SDP-23292
    - name: Create lib directory
      run: mkdir -p lib
    - name: Download JUnit
      run: |
        curl -L -o lib/junit-4.13.2.jar https://repo1.maven.org/maven2/junit/junit/4.13.2/junit-4.13.2.jar
        curl -L -o lib/hamcrest-core-1.3.jar https://repo1.maven.org/maven2/org/hamcrest/hamcrest-core/1.3/hamcrest-core-1.3.jar
    - name: Compile code
      run: javac -cp "lib/junit-4.13.2.jar:lib/hamcrest-core-1.3.jar" -d out/production/Invaders-SDP-23292 $(find src -name "*.java")
    - name: Run tests
      run: java -cp "lib/junit-4.13.2.jar:lib/hamcrest-core-1.3.jar:out/production/Invaders-SDP-23292" org.junit.runner.JUnitCore ScoreTest
